<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>AliPayServlet</servlet-name>
		<servlet-class>com.qf.auction.alipay.AliPayServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AliPayReturnServlet</servlet-name>
		<servlet-class>com.qf.auction.alipay.AliPayReturnServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.UserLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuctionListByPageServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.AuctionListByPageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuctionAddServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.AuctionAddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuctionUpdateServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.AuctionUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuctionDelByIDServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.AuctionDelByIDServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuctionSearchServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.AuctionSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserListByPageServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.UserListByPageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.InitServlet</servlet-class>
		<!-- WEB容器启动的时候 就去加载SERVLET 的INIT函数 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>UserRoleFindByUserIDServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.UserRoleFindByUserIDServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UserRoleUpdateServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.UserRoleUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RoleListByPageServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.RoleListByPageServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RolePermissionFindByroleidServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.RolePermissionFindByroleidServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RolePermissionUpdateServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.RolePermissionUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserSendNote</servlet-name>
		<servlet-class>com.qianfeng.auction.api.note.UserSendNote</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuctionRecordByIDServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.AuctionRecordByIDServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuctiobPayServlet</servlet-name>
		<servlet-class>com.qianfeng.auction.servlet.AuctiobPayServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>AuctionDelByIDPayReturnServlet</servlet-name>
    <servlet-class>com.qianfeng.auction.servlet.AuctionDelByIDPayReturnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuctionRecordByIDPayReturnServlet</servlet-name>
    <servlet-class>com.qianfeng.auction.servlet.AuctionRecordByIDPayReturnServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SMSSenderServlet</servlet-name>
    <servlet-class>com.qianfeng.auction.servlet.SMSSenderServlet</servlet-class>
  </servlet>







	<servlet-mapping>
		<servlet-name>AliPayServlet</servlet-name>
		<url-pattern>/AliPayServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AliPayReturnServlet</servlet-name>
		<url-pattern>/AliPayReturnServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/UserLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuctionListByPageServlet</servlet-name>
		<url-pattern>/AuctionListByPageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuctionAddServlet</servlet-name>
		<url-pattern>/AuctionAddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuctionUpdateServlet</servlet-name>
		<url-pattern>/AuctionUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuctionDelByIDServlet</servlet-name>
		<url-pattern>/AuctionDelByIDServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuctionSearchServlet</servlet-name>
		<url-pattern>/AuctionSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserListByPageServlet</servlet-name>
		<url-pattern>/UserListByPageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/InitServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRoleFindByUserIDServlet</servlet-name>
		<url-pattern>/UserRoleFindByUserIDServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRoleUpdateServlet</servlet-name>
		<url-pattern>/UserRoleUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RoleListByPageServlet</servlet-name>
		<url-pattern>/RoleListByPageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RolePermissionFindByroleidServlet</servlet-name>
		<url-pattern>/RolePermissionFindByroleidServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RolePermissionUpdateServlet</servlet-name>
		<url-pattern>/RolePermissionUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<url-pattern>/UserRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuctionRecordByIDServlet</servlet-name>
		<url-pattern>/AuctionRecordByIDServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuctiobPayServlet</servlet-name>
		<url-pattern>/AuctiobPayServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserSendNote</servlet-name>
		<url-pattern>/UserSendNote</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuctionDelByIDPayReturnServlet</servlet-name>
    <url-pattern>/AuctionDelByIDPayReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuctionRecordByIDPayReturnServlet</servlet-name>
    <url-pattern>/AuctionRecordByIDPayReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SMSSenderServlet</servlet-name>
    <url-pattern>/SMSSenderServlet</url-pattern>
  </servlet-mapping>
	<filter>
		<filter-name>FileFilter</filter-name>
		<filter-class>com.qianfeng.auction.filter.FileFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>FileFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>user_login.jsp</welcome-file>
	</welcome-file-list>
</web-app>